*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Tahoma, sans-serif;
  background-color: #1f2833;
  color: #cafafe;
}

.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 2.5rem;
  padding: 10px 0;
}

.palindrome-div {
  width: 450px;
  min-height: 100px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px 0;
  background-color: #45a29e;
  box-shadow: 0 6px 6px #05386b;
}

label {
  color: #cafafe;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.palindrome-input {
  height: 30px;
  width: 280px;
  text-align: center;
  font-size: 1.2rem;
  margin: 10px;
  border: none;
  border-bottom: 2px solid #66fcf1;
}

.palindrome-btn {
  width: 90px;
  border: none;
  padding: 10px;
  border-radius: 15px;
  background-color: #338776;
  color: #cafafe;
  cursor: pointer;
}

.palindrome-definition-div {
  width: 450px;
  font-size: 1.3rem;
  min-height: 140px;
  background-color: #05386b;
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.palindrome-definition {
  text-align: center;
}

.results-div {
  color: #cafafe;
  font-size: 1.5rem;
  text-align: center;
}
